[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
sklearn = "*"
tensorflow = "*"
fuzzywuzzy = "*"
opencv-python = "*"
levenshtein = "*"
chess = "*"

[dev-packages]

[requires]
python_version = "3.9"
